@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

body {
	font-family: "Lato";
	font-weight: 900;
	font-size: 48px;
	color: #34383f;
	background-color: #b419b9fd;
	position: relative;
	background-image: linear-gradient(135deg, rgba(252,236,252,1) 0%,rgba(140,114,234,1) 15%,rgba(140,114,234,1) 15%,rgba(244,41,227,1) 31%,rgba(255,43,92,1) 51%,rgba(87,209,95,1) 71%,rgba(93,89,191,1) 89%,rgba(255,124,216,1) 100%);
height: 100vh;
	z-index: -1;
}
div{
	position: absolute;
	display: flex;
	flex-direction: column;
	max-width: 100vw;
	height: 100vh;
	padding: 60px;
}

